* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
  scroll-behavior: smooth;
}
body {
  margin: 30px;
}
header {
  /* background: linear-gradient(#545e9c, #4c5fc8, #354bc4, #1739fb); */
  background: url(images/skills.jpg) no-repeat;
  width: 100%;
  text-align: center;
  padding: 30px 20px;
  display: flex;
  justify-items: center;
  text-align: center;
  flex-direction: column;
  gap: 20px;
}

header span {
  position: relative;
  margin: auto;
  position: static;
}

header span img {
  width: 35%;
  border-radius: 50%;
  border: 2px solid #c9c9c9;
}

header h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
}

header p {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}

header nav {
  margin: auto;
  margin-top: 50px;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

header nav ul li {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 5px 10px;
  background-color: #c9c9c9;
  list-style: none;
  font-size: 18px;
  transition: ease-in-out 500ms;
  -webkit-transition: ease-in-out 500ms;
  -moz-transition: ease-in-out 500ms;
  -ms-transition: ease-in-out 500ms;
  -o-transition: ease-in-out 500ms;
}

header nav ul li a {
  color: #354bc4;
  text-decoration: none;
}

header nav ul li:hover {
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  font-weight: bold;
}
.webdeveloper {
  width: 50%;
  color: white;
  position: sticky;
  top: 0;
  text-align: start;
  font-weight: bold;
  font-size: 15px;
}

section {
  margin-top: 30px;
  background-color: #c9c9c9;
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  position: relative;
}

section h2 {
  color: #1739fb;
  font-weight: bolder;
  font-size: 2.2rem;
  font-family: sans-serif;
}

section p {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.6;
}

section > span {
  position: absolute;
  top: 30px;
  left: 170px;
  font-size: 20px;
}

section ol {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 16px;
  flex-wrap: wrap;
  font-weight: bold;
  gap: 30px;
  padding-top: 20px;
}

section ol li {
  padding: 20px;
  position: relative;
  background: linear-gradient(#545e9c, #4c5fc8, #354bc4, #1739fb);
  list-style: none;
  transition: ease-in-out 500ms;
  -webkit-transition: ease-in-out 500ms;
  -moz-transition: ease-in-out 500ms;
  -ms-transition: ease-in-out 500ms;
  -o-transition: ease-in-out 500ms;
  bottom: 0;
  color: #fff;
}

section ol > li:hover {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  bottom: 10px;
}

section article {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 100px;
  row-gap: 30px;
}

section > article > span > img {
  transition: ease-in-out 1000ms;
  -webkit-transition: ease-in-out 1000ms;
  -moz-transition: ease-in-out 1000ms;
  -ms-transition: ease-in-out 1000ms;
  -o-transition: ease-in-out 1000ms;
}

section article span img:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}

section > form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

section > form > fieldset {
  padding: 10px;
  border: 2px dashed #1739fb;
}

section > form > fieldset > legend {
  font-size: 16px;
}

section > form > fieldset > input {
  padding: 20px;
  border: none;
  width: 100%;
  outline: none;
}
section > form > fieldset > textarea {
  outline: none;
  padding: 20px 20px 40px;
  border: none;
  width: 100%;
}

section > form > button {
  padding: 20px;
  border: none;
  font-size: 16px;
  width: 20%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: ease-in-out 1000ms;
  -webkit-transition: ease-in-out 1000ms;
  -moz-transition: ease-in-out 1000ms;
  -ms-transition: ease-in-out 1000ms;
  -o-transition: ease-in-out 1000ms;
}

section > form > button:hover {
  background-color: #1739fb;
  color: white;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

footer {
  width: 100%;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  margin-top: 30px;
  background-color: #4a4646;
  transition: linear 1000ms;
  -webkit-transition: linear 1000ms;
  -moz-transition: linear 1000ms;
  -ms-transition: linear 1000ms;
  -o-transition: linear 1000ms;
}

footer:hover {
  background-color: #354bc4;
  color: white;
}

.iconContact {
  position: fixed;
  bottom: 0px;
  right: 0;
}

.iconContact img {
  width: 80%;
  transition: ease-in-out 500ms;
  -webkit-transition: ease-in-out 500ms;
  -moz-transition: ease-in-out 500ms;
  -ms-transition: ease-in-out 500ms;
  -o-transition: ease-in-out 500ms;
}

.iconContact img:hover {
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
}
